<!DOCTYPE html>
<html>
<head>
  <title>Dena's Super Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script id="glance-cobrowse" type="text/javascript" src="https://www.glancecdn.net/cobrowse/CobrowseJS.ashx?group=20752&site=production" data-groupid="20752" data-site="production" charset="UTF-8"></script>
</head>
<body>
  <div class="container">
    <h1>Welcome to Dena's page!</h1>
    <!-- https://help.glance.net/docs/glance-cobrowse/getting-started -->
    <div><a href="javascript:;" glance_button="startSession">Cobrowse</a></div>
  </div>
</body>
</html>
