<html>
<head>
  <title>Solve the puzzle!</title>
  <script src="{{ url_for('static', filename='helpers.js') }}"></script>
  <script src="{{ url_for('static', filename='puzzle.js') }}"></script>
  <style>
    canvas { border: 1px solid black; }
    /*.reset-button {
      padding: 8px 12px;
      font-size: 18px;
      border-radius: 5px;
    }*/
  </style>
</head>
<body onload="initialize();">
  <h3>Puzzle Solver</h3>
  <p>Click and drag, or use arrow keys to move pieces. Use shift+arrows to rotate/flip.</p>
  <p>
    <div>
      <span id="solutionCount">1</span> solution(s) remaining, given blue (valid) pieces.
    </div>
    <div>
      <span>Solve with solution: <select id="solutionSelect"></select> or </span>
      <button class="reset-button" onclick="myGame.arrangeScattered()">Reset</button>
    </div>
  </p>
  <canvas id="puzzle" height="700" width="900">
  </canvas>
</body>
</html>
